{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["."],
          "alias": {
            "@assests":"./src/assests",
            "@screens": "./src/Screens",
            "@component":"./src/components",
            "@constants":"./src/constants"
          }
        }
      ]
    ]
  }